.container-fluid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: lightsteelblue;
    padding: 10px 10px 40px 10px;
    position: relative;
    border-radius: 15px;
    border: 3px solid black;
}

.contentbox {
    border-radius: 10px;
    border: 2px solid dodgerblue;
    padding: 10px;
}

.boldtext {
    font-weight: bold;
}

.textright {
    text-align: right;
}

.textcentered {
    text-align: center;
}

td {
    vertical-align: middle;
}

th {
    white-space: nowrap;
    text-align: center;
}

 .dugmic {
    position: absolute;
    right: 15px;
}

.pokreni {
    text-align: center !important;
    height: 100px;
    border-radius: 15px;
    border: 2px solid blue;
    background: lightsteelblue;
}

.pokreni > input {
    position: relative;
    top: 40px;
    width: 200px;
}

p.j {
    text-align: justify;
}

.linkovi {
    text-align: center;
    width: 100%;
}

a {
    color: white;
    text-decoration:none;
}

a:link, a:visited {
    text-decoration:none;
    display:block;
    width:100%;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#337AB7;
    text-align:center;
    padding:4px;
    border: 1px solid #2E6DA4;
    border-radius: 3px;
}

a:hover, a:active {
    text-decoration:none;
    display:block;
    width:100%;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#286090;
    text-align:center;
    padding:4px;
    border: 1px solid #204D74;
    border-radius: 3px;
}